@import "vars";
@import "variables";

body {
  background-color: $light;
}

.ab-header {
  position: fixed;
  z-index: $zindex-navbar-fixed;
  width: 100%;
  background-color: $white;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: $box-shadow-sm;

  &__wrapper {
    display: flex;
  }

  &__left {
    display: flex;
    &-brand {
      display: block;
      height: 50px;
      padding: 10px;
      background-color: $primary;
      img{
        height: 30px;
      }
    }
    &-actions {
      margin: auto 0;
      padding: 0 10px;
    }
  }

  &__right {
    display: flex;
    margin-left: auto;
    &-actions {
      margin: auto 0;
      padding: 0 10px;
    }
  }
}

.ab-content {
  padding-top: 60px;
}


.upload-video-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: $gray-100;
  border: 1px dashed $gray-400;
  &:hover {
      border: 1px solid $gray-400;
  }
  .upload-video-content {
      margin: auto;
      .message {
          font-size: 18px;
          font-weight: $font-weight-bold;
      }
  }
  input{
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border: none;
      opacity: 0;
      z-index: 10;
      cursor: pointer;
  }
}