.ab-dashboard__avatar-uploader {
  position: relative;
  padding-bottom: 30px;

  .avatar {
      width: 100%;
      max-width: 140px;
      display: block;
      margin: auto;
  }

  .btn {
      position: absolute;
      z-index: 20;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
  }

  &-input {
      position: absolute;
      visibility: hidden;
      opacity: 0;
  }

  .file-name {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 0;
      margin: 0;
      line-height: 1;
  }
}
