.minitutor-dashboard-layout {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  &-side {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 240px;
    min-width: 240px;
  }
  &-content {
    flex: 1 0 auto;
    display: block;
    max-width: calc(100% - 240px);
    width: 100%;
    margin: 15px 0;
    margin-bottom: 0;

    .panel {
      box-shadow: $box-shadow-sm;
      border-bottom: 4px solid $primary;
      border-radius: 4px;
      margin-bottom: 15px;
      overflow: hidden;
    }
  }

  @include media-breakpoint-down(md) {
    display: block;
    &-side {
      min-width: auto;
      width: auto;
    }
    &-content {
      margin-top: 0;
      min-width: 100%;
    }
  }
}


.ab-profile-card-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  border-radius: 4px;
  background-color: $white;
  box-shadow: $box-shadow-sm;
  border-bottom: 4px solid $primary;

  .avatar {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    border: 3px solid $primary;
    margin: 15px auto;
    img {
      border: 3px solid $white;
    }

    .point {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      line-height: 20px;
      padding: 0 10px;
      background-color: $primary;
      color: $white;
      font-size: 10px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      border-radius: 20px;
      box-shadow: $box-shadow;
    }

    @include media-breakpoint-down(md) {
      margin: 15px auto;
      width: 100px;
      height: 100px;
      border-width: 2px;
      img {
        border-width: 2px;
      }
    }
  }

  .info {
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid $border-color;
    padding: 0 15px;
    padding-bottom: 10px;
    .name {
      display: block;
      margin: 0;
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      color: $gray-600;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
    .username {
      display: block;
      margin: 0;
      line-height: 1;
      font-size: 12px;
      text-transform: lowercase;
      color: $gray-400;
      margin-bottom: 5px;
      margin-bottom: 15px;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
    
  }

  .minitutor-menu {
    .list-group{
      margin: 0;
      .list-group-item {
        position: relative;
        padding: 8px 10px;
        border-radius: 0;
        font-weight: $font-weight-bold;
        border-left: 2px solid $white;
        &.active, &:hover {
          border-left: 2px solid $primary;
          background-color: rgba($primary, .1);
          color: $primary;
        }

        .badge {
          display: block;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          background-color: $primary;
          color: $white;
          font-size: 10px;
          line-height: 0;
          padding: 8px 5px;
        }
      }
    }
  }
}