.most-user-point {
  padding: 15px 0;

  &-header {
    display: flex;
    margin-bottom: 10px;
  }
  &-title {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin: auto 0;
    line-height: 1;
  }
  &-links {
    display: block;
    margin: auto 0;
    margin-left: auto;
    padding: 0;
  }

  .most-user-point-card {
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: $box-shadow-sm;
    background-color: $white;
    overflow: hidden;
    border-radius: 4px;
    transition: $transition-base;
    text-decoration: none;
    margin-bottom: 15px;
    border-top: 4px solid $primary;

    &:hover {
      box-shadow: $box-shadow;
    }

    .avatar {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 10px;
      border: 3px solid $primary;
      img {
        border: 3px solid $white;
      }
    }

    .info-name {
      display: block;
      margin: 0;
      padding: 10px;
      font-size: 14px;
      font-weight: $font-weight-bold;
      color: $dark;
      text-align: center;
      text-transform: uppercase;
    }

    .info-point {
      display: block;
      margin: 0 auto;
      line-height: 26px;
      padding: 0 10px;
      background-color: $primary;
      color: $white;
      font-size: 14px;
      font-weight: $font-weight-bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      box-shadow: $box-shadow;
      border-radius: 4px;
      margin-bottom: 15px;
    }
  }
}