.post-read-card {
  display: flex;
  margin-top: 15px;
  max-width: 100%;
  @include media-breakpoint-down(md) {
    display: block;
  }
  &-content {
    max-width: calc(100% - 350px);
    width: 100%;
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }
  &-side {
    width: 350px;
    padding-left: 15px;
    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 0;
    }
  }

  article {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    background-color: $white;
    box-shadow: $box-shadow-sm;
    margin-bottom: 15px;
    border-bottom: 4px solid $primary;
    padding-bottom: 20px;

    .hero {
      display: block;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .post-detail {
      display: flex;
      padding: 10px 20px;
      border-bottom: 1px solid $border-color;
      vertical-align: middle;
      @include media-breakpoint-down(sm) {
        padding: 10px;
      }

      .post-info {
        line-height: 1;
        margin: auto 0;
        white-space: nowrap;
        .info {
          font-size: 13px;
          color: $gray-600;
          @include media-breakpoint-down(sm) {
            font-size: 9px;
          }
          i {
            color: $gray-400;
          }
        }
        .v-divider {
          display: inline-block;
          padding: 0 10px;
          @include media-breakpoint-down(sm) {
            padding: 0 5px;
          }
        }
      }
      .post-action {
        margin: auto 0;
        margin-left: auto;
      }
    }

    .post-rating {
      padding: 10px 20px;
      display: flex;
      line-height: 1;
      font-size: 12px;
      vertical-align: middle;
      @include media-breakpoint-down(sm) {
        padding: 10px;
      }
      .post-rating-star {
        margin: auto 0;
        margin-right: 3px;
      }
      .post-rating-text {
        display: block;
        margin: auto 0;
      }
    }

    .post-title {
      padding: 0px 20px;
      margin-top: 20px;
      @include media-breakpoint-down(sm) {
        padding: 0 10px;
      }
      h1 {
        margin: 0;
        font-weight: $font-weight-light;
        text-transform: capitalize;
      }
    }

    .post-category {
      padding: 10px 20px;
      @include media-breakpoint-down(sm) {
        padding: 10px;
      }
      a {
        display: inline-block;
        line-height: 24px;
        padding: 0 10px;
        font-size: 12px;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        color: $primary;
        background-color: $gray-100;
        border: 1px solid $gray-300;
        border-radius: 2px;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
          box-shadow: $box-shadow-sm;
        }
      }
    }

    .post-body {
      padding: 20px;
      padding-top: 0;
      @include media-breakpoint-down(sm) {
        padding: 10px;
      }
    }

    .post-tags {
      border-top: 1px solid $border-color;
      padding: 20px;
      &-title {
        font-size: 16px;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        margin-bottom: 3px;
      }
      @include media-breakpoint-down(sm) {
        padding: 10px;
      }
    }

  }
}