.ab-profile-card-lg {
  display: flex;
  width: 100%;
  margin: 15px 0;
  padding: 30px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: $box-shadow-sm;
  border-bottom: 4px solid $primary;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    padding: 30px 15px;
  }

  .avatar {
    display: block;
    width: 120px;
    height: 120px;
    border: 3px solid $primary;
    margin: 0;
    margin-right: 15px;
    img {
      border: 3px solid $white;
    }

    @include media-breakpoint-down(md) {
      margin: 15px auto;
      width: 100px;
      height: 100px;
      border-width: 2px;
      img {
        border-width: 2px;
      }
    }
  }

  .info {
    margin: auto 0;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    .name {
      margin: 0;
      margin-bottom: 5px;
      font-size: 24px;
      line-height: 1;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      color: $gray-600;
      @include media-breakpoint-down(md) {
        font-size: 20px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
    .username {
      margin: 0;
      font-size: 16px;
      line-height: 20px;
      text-transform: lowercase;
      color: $gray-400;
      margin-bottom: 5px;
    }
    .email-info {
      display: inline-block;
      line-height: 20px;
      padding: 0 6px;
      background-color: $primary;
      color: $white;
      font-size: 10px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      border-radius: 2px;
    }
  }
}