.ab-base-layout .ab-footer {
  display: block;
  background-color: $white;
  box-shadow: $box-shadow;
  @include media-breakpoint-down(md) {
    text-align: center;
  }

  &__brand {
    img {
      height: 40px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(md) {
      text-align: center;
    }

    a {
      display: block;
      line-height: 1.2;
      margin-bottom: 10px;
      text-decoration: none;
      color: $gray-400;
      &:hover {
        color: $gray-600;
      }
    }
  }

  &__socials {
    text-align: right;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
}