// card and panel
.card, .panel {
  box-shadow: $box-shadow-sm;
  &.empty-none:empty {
    display: none;
  }
}


// border radius
.rounded {
  border-radius: $border-radius !important;
}
.rounded-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}
.rounded-right {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}
.rounded-bottom {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}
.rounded-left {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}


// box shadow
.shadow {
  box-shadow: $box-shadow !important;
}
.shadow-sm {
  box-shadow: $box-shadow-sm !important;
}
.shadow-lg {
  box-shadow: $box-shadow-lg !important;
}


// selec2
.has-invalid {
  .select2-dropdown,
  .select2-selection {
    border-color: $color-red-600 !important;
  }
}
.select2-container {
  z-index: $zindex-dropdown;
  width: 100% !important;
}


// image
.img-fluid {
  width: 100%;
}

//line height
.line-height-1 {
  line-height: 1 !important;
}

//panel
.panel {
  box-shadow: $box-shadow-sm;
  border-bottom: 4px solid $primary;
  border-radius: 4px;
  margin-bottom: 15px;
  overflow: hidden;
}