@font-face {
  font-family: 'feather';
  src:
    url('fonts/feather.ttf?6djotx') format('truetype'),
    url('fonts/feather.woff?6djotx') format('woff'),
    url('fonts/feather.svg?6djotx#feather') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='ft-'],
[class*=' ft-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ft-activity:before {
  content: '\e900';
}
.ft-airplay:before {
  content: '\e901';
}
.ft-alert-circle:before {
  content: '\e902';
}
.ft-alert-octagon:before {
  content: '\e903';
}
.ft-alert-triangle:before {
  content: '\e904';
}
.ft-align-center:before {
  content: '\e905';
}
.ft-align-justify:before {
  content: '\e906';
}
.ft-align-left:before {
  content: '\e907';
}
.ft-align-right:before {
  content: '\e908';
}
.ft-anchor:before {
  content: '\e909';
}
.ft-aperture:before {
  content: '\e90a';
}
.ft-archive:before {
  content: '\e90b';
}
.ft-arrow-down:before {
  content: '\e90c';
}
.ft-arrow-down-circle:before {
  content: '\e90d';
}
.ft-arrow-down-left:before {
  content: '\e90e';
}
.ft-arrow-down-right:before {
  content: '\e90f';
}
.ft-arrow-left:before {
  content: '\e910';
}
.ft-arrow-left-circle:before {
  content: '\e911';
}
.ft-arrow-right:before {
  content: '\e912';
}
.ft-arrow-right-circle:before {
  content: '\e913';
}
.ft-arrow-up:before {
  content: '\e914';
}
.ft-arrow-up-circle:before {
  content: '\e915';
}
.ft-arrow-up-left:before {
  content: '\e916';
}
.ft-arrow-up-right:before {
  content: '\e917';
}
.ft-at-sign:before {
  content: '\e918';
}
.ft-award:before {
  content: '\e919';
}
.ft-bar-chart:before {
  content: '\e91a';
}
.ft-bar-chart-2:before {
  content: '\e91b';
}
.ft-battery:before {
  content: '\e91c';
}
.ft-battery-charging:before {
  content: '\e91d';
}
.ft-bell:before {
  content: '\e91e';
}
.ft-bell-off:before {
  content: '\e91f';
}
.ft-bluetooth:before {
  content: '\e920';
}
.ft-bold:before {
  content: '\e921';
}
.ft-book:before {
  content: '\e922';
}
.ft-book-open:before {
  content: '\e923';
}
.ft-bookmark:before {
  content: '\e924';
}
.ft-box:before {
  content: '\e925';
}
.ft-briefcase:before {
  content: '\e926';
}
.ft-calendar:before {
  content: '\e927';
}
.ft-camera:before {
  content: '\e928';
}
.ft-camera-off:before {
  content: '\e929';
}
.ft-cast:before {
  content: '\e92a';
}
.ft-check:before {
  content: '\e92b';
}
.ft-check-circle:before {
  content: '\e92c';
}
.ft-check-square:before {
  content: '\e92d';
}
.ft-chevron-down:before {
  content: '\e92e';
}
.ft-chevron-left:before {
  content: '\e92f';
}
.ft-chevron-right:before {
  content: '\e930';
}
.ft-chevron-up:before {
  content: '\e931';
}
.ft-chevrons-down:before {
  content: '\e932';
}
.ft-chevrons-left:before {
  content: '\e933';
}
.ft-chevrons-right:before {
  content: '\e934';
}
.ft-chevrons-up:before {
  content: '\e935';
}
.ft-chrome:before {
  content: '\e936';
}
.ft-circle:before {
  content: '\e937';
}
.ft-clipboard:before {
  content: '\e938';
}
.ft-clock:before {
  content: '\e939';
}
.ft-cloud:before {
  content: '\e93a';
}
.ft-cloud-drizzle:before {
  content: '\e93b';
}
.ft-cloud-lightning:before {
  content: '\e93c';
}
.ft-cloud-off:before {
  content: '\e93d';
}
.ft-cloud-rain:before {
  content: '\e93e';
}
.ft-cloud-snow:before {
  content: '\e93f';
}
.ft-code:before {
  content: '\e940';
}
.ft-codepen:before {
  content: '\e941';
}
.ft-codesandbox:before {
  content: '\e942';
}
.ft-coffee:before {
  content: '\e943';
}
.ft-columns:before {
  content: '\e944';
}
.ft-command:before {
  content: '\e945';
}
.ft-compass:before {
  content: '\e946';
}
.ft-copy:before {
  content: '\e947';
}
.ft-corner-down-left:before {
  content: '\e948';
}
.ft-corner-down-right:before {
  content: '\e949';
}
.ft-corner-left-down:before {
  content: '\e94a';
}
.ft-corner-left-up:before {
  content: '\e94b';
}
.ft-corner-right-down:before {
  content: '\e94c';
}
.ft-corner-right-up:before {
  content: '\e94d';
}
.ft-corner-up-left:before {
  content: '\e94e';
}
.ft-corner-up-right:before {
  content: '\e94f';
}
.ft-cpu:before {
  content: '\e950';
}
.ft-credit-card:before {
  content: '\e951';
}
.ft-crop:before {
  content: '\e952';
}
.ft-crosshair:before {
  content: '\e953';
}
.ft-database:before {
  content: '\e954';
}
.ft-delete:before {
  content: '\e955';
}
.ft-disc:before {
  content: '\e956';
}
.ft-dollar-sign:before {
  content: '\e957';
}
.ft-download:before {
  content: '\e958';
}
.ft-download-cloud:before {
  content: '\e959';
}
.ft-droplet:before {
  content: '\e95a';
}
.ft-edit:before {
  content: '\e95b';
}
.ft-edit-2:before {
  content: '\e95c';
}
.ft-edit-3:before {
  content: '\e95d';
}
.ft-external-link:before {
  content: '\e95e';
}
.ft-eye:before {
  content: '\e95f';
}
.ft-eye-off:before {
  content: '\e960';
}
.ft-facebook:before {
  content: '\e961';
}
.ft-fast-forward:before {
  content: '\e962';
}
.ft-feather:before {
  content: '\e963';
}
.ft-figma:before {
  content: '\e964';
}
.ft-file:before {
  content: '\e965';
}
.ft-file-minus:before {
  content: '\e966';
}
.ft-file-plus:before {
  content: '\e967';
}
.ft-file-text:before {
  content: '\e968';
}
.ft-film:before {
  content: '\e969';
}
.ft-filter:before {
  content: '\e96a';
}
.ft-flag:before {
  content: '\e96b';
}
.ft-folder:before {
  content: '\e96c';
}
.ft-folder-minus:before {
  content: '\e96d';
}
.ft-folder-plus:before {
  content: '\e96e';
}
.ft-framer:before {
  content: '\e96f';
}
.ft-frown:before {
  content: '\e970';
}
.ft-gift:before {
  content: '\e971';
}
.ft-git-branch:before {
  content: '\e972';
}
.ft-git-commit:before {
  content: '\e973';
}
.ft-git-merge:before {
  content: '\e974';
}
.ft-git-pull-request:before {
  content: '\e975';
}
.ft-github:before {
  content: '\e976';
}
.ft-gitlab:before {
  content: '\e977';
}
.ft-globe:before {
  content: '\e978';
}
.ft-grid:before {
  content: '\e979';
}
.ft-hard-drive:before {
  content: '\e97a';
}
.ft-hash:before {
  content: '\e97b';
}
.ft-headphones:before {
  content: '\e97c';
}
.ft-heart:before {
  content: '\e97d';
}
.ft-help-circle:before {
  content: '\e97e';
}
.ft-hexagon:before {
  content: '\e97f';
}
.ft-home:before {
  content: '\e980';
}
.ft-image:before {
  content: '\e981';
}
.ft-inbox:before {
  content: '\e982';
}
.ft-info:before {
  content: '\e983';
}
.ft-instagram:before {
  content: '\e984';
}
.ft-italic:before {
  content: '\e985';
}
.ft-key:before {
  content: '\e986';
}
.ft-layers:before {
  content: '\e987';
}
.ft-layout:before {
  content: '\e988';
}
.ft-life-buoy:before {
  content: '\e989';
}
.ft-link:before {
  content: '\e98a';
}
.ft-link-2:before {
  content: '\e98b';
}
.ft-linkedin:before {
  content: '\e98c';
}
.ft-list:before {
  content: '\e98d';
}
.ft-loader:before {
  content: '\e98e';
}
.ft-lock:before {
  content: '\e98f';
}
.ft-log-in:before {
  content: '\e990';
}
.ft-log-out:before {
  content: '\e991';
}
.ft-mail:before {
  content: '\e992';
}
.ft-map:before {
  content: '\e993';
}
.ft-map-pin:before {
  content: '\e994';
}
.ft-maximize:before {
  content: '\e995';
}
.ft-maximize-2:before {
  content: '\e996';
}
.ft-meh:before {
  content: '\e997';
}
.ft-menu:before {
  content: '\e998';
}
.ft-message-circle:before {
  content: '\e999';
}
.ft-message-square:before {
  content: '\e99a';
}
.ft-mic:before {
  content: '\e99b';
}
.ft-mic-off:before {
  content: '\e99c';
}
.ft-minimize:before {
  content: '\e99d';
}
.ft-minimize-2:before {
  content: '\e99e';
}
.ft-minus:before {
  content: '\e99f';
}
.ft-minus-circle:before {
  content: '\e9a0';
}
.ft-minus-square:before {
  content: '\e9a1';
}
.ft-monitor:before {
  content: '\e9a2';
}
.ft-moon:before {
  content: '\e9a3';
}
.ft-more-horizontal:before {
  content: '\e9a4';
}
.ft-more-vertical:before {
  content: '\e9a5';
}
.ft-mouse-pointer:before {
  content: '\e9a6';
}
.ft-move:before {
  content: '\e9a7';
}
.ft-music:before {
  content: '\e9a8';
}
.ft-navigation:before {
  content: '\e9a9';
}
.ft-navigation-2:before {
  content: '\e9aa';
}
.ft-octagon:before {
  content: '\e9ab';
}
.ft-package:before {
  content: '\e9ac';
}
.ft-paperclip:before {
  content: '\e9ad';
}
.ft-pause:before {
  content: '\e9ae';
}
.ft-pause-circle:before {
  content: '\e9af';
}
.ft-pen-tool:before {
  content: '\e9b0';
}
.ft-percent:before {
  content: '\e9b1';
}
.ft-phone:before {
  content: '\e9b2';
}
.ft-phone-call:before {
  content: '\e9b3';
}
.ft-phone-forwarded:before {
  content: '\e9b4';
}
.ft-phone-incoming:before {
  content: '\e9b5';
}
.ft-phone-missed:before {
  content: '\e9b6';
}
.ft-phone-off:before {
  content: '\e9b7';
}
.ft-phone-outgoing:before {
  content: '\e9b8';
}
.ft-pie-chart:before {
  content: '\e9b9';
}
.ft-play:before {
  content: '\e9ba';
}
.ft-play-circle:before {
  content: '\e9bb';
}
.ft-plus:before {
  content: '\e9bc';
}
.ft-plus-circle:before {
  content: '\e9bd';
}
.ft-plus-square:before {
  content: '\e9be';
}
.ft-pocket:before {
  content: '\e9bf';
}
.ft-power:before {
  content: '\e9c0';
}
.ft-printer:before {
  content: '\e9c1';
}
.ft-radio:before {
  content: '\e9c2';
}
.ft-refresh-ccw:before {
  content: '\e9c3';
}
.ft-refresh-cw:before {
  content: '\e9c4';
}
.ft-repeat:before {
  content: '\e9c5';
}
.ft-rewind:before {
  content: '\e9c6';
}
.ft-rotate-ccw:before {
  content: '\e9c7';
}
.ft-rotate-cw:before {
  content: '\e9c8';
}
.ft-rss:before {
  content: '\e9c9';
}
.ft-save:before {
  content: '\e9ca';
}
.ft-scissors:before {
  content: '\e9cb';
}
.ft-search:before {
  content: '\e9cc';
}
.ft-send:before {
  content: '\e9cd';
}
.ft-server:before {
  content: '\e9ce';
}
.ft-settings:before {
  content: '\e9cf';
}
.ft-share:before {
  content: '\e9d0';
}
.ft-share-2:before {
  content: '\e9d1';
}
.ft-shield:before {
  content: '\e9d2';
}
.ft-shield-off:before {
  content: '\e9d3';
}
.ft-shopping-bag:before {
  content: '\e9d4';
}
.ft-shopping-cart:before {
  content: '\e9d5';
}
.ft-shuffle:before {
  content: '\e9d6';
}
.ft-sidebar:before {
  content: '\e9d7';
}
.ft-skip-back:before {
  content: '\e9d8';
}
.ft-skip-forward:before {
  content: '\e9d9';
}
.ft-slack:before {
  content: '\e9da';
}
.ft-slash:before {
  content: '\e9db';
}
.ft-sliders:before {
  content: '\e9dc';
}
.ft-smartphone:before {
  content: '\e9dd';
}
.ft-smile:before {
  content: '\e9de';
}
.ft-speaker:before {
  content: '\e9df';
}
.ft-square:before {
  content: '\e9e0';
}
.ft-star:before {
  content: '\e9e1';
}
.ft-stop-circle:before {
  content: '\e9e2';
}
.ft-sun:before {
  content: '\e9e3';
}
.ft-sunrise:before {
  content: '\e9e4';
}
.ft-sunset:before {
  content: '\e9e5';
}
.ft-tablet:before {
  content: '\e9e6';
}
.ft-tag:before {
  content: '\e9e7';
}
.ft-target:before {
  content: '\e9e8';
}
.ft-terminal:before {
  content: '\e9e9';
}
.ft-thermometer:before {
  content: '\e9ea';
}
.ft-thumbs-down:before {
  content: '\e9eb';
}
.ft-thumbs-up:before {
  content: '\e9ec';
}
.ft-toggle-left:before {
  content: '\e9ed';
}
.ft-toggle-right:before {
  content: '\e9ee';
}
.ft-tool:before {
  content: '\e9ef';
}
.ft-trash:before {
  content: '\e9f0';
}
.ft-trash-2:before {
  content: '\e9f1';
}
.ft-trello:before {
  content: '\e9f2';
}
.ft-trending-down:before {
  content: '\e9f3';
}
.ft-trending-up:before {
  content: '\e9f4';
}
.ft-triangle:before {
  content: '\e9f5';
}
.ft-truck:before {
  content: '\e9f6';
}
.ft-tv:before {
  content: '\e9f7';
}
.ft-twitch:before {
  content: '\e9f8';
}
.ft-twitter:before {
  content: '\e9f9';
}
.ft-type:before {
  content: '\e9fa';
}
.ft-umbrella:before {
  content: '\e9fb';
}
.ft-underline:before {
  content: '\e9fc';
}
.ft-unlock:before {
  content: '\e9fd';
}
.ft-upload:before {
  content: '\e9fe';
}
.ft-upload-cloud:before {
  content: '\e9ff';
}
.ft-user:before {
  content: '\ea00';
}
.ft-user-check:before {
  content: '\ea01';
}
.ft-user-minus:before {
  content: '\ea02';
}
.ft-user-plus:before {
  content: '\ea03';
}
.ft-user-x:before {
  content: '\ea04';
}
.ft-users:before {
  content: '\ea05';
}
.ft-video:before {
  content: '\ea06';
}
.ft-video-off:before {
  content: '\ea07';
}
.ft-voicemail:before {
  content: '\ea08';
}
.ft-volume:before {
  content: '\ea09';
}
.ft-volume-1:before {
  content: '\ea0a';
}
.ft-volume-2:before {
  content: '\ea0b';
}
.ft-volume-x:before {
  content: '\ea0c';
}
.ft-watch:before {
  content: '\ea0d';
}
.ft-wifi:before {
  content: '\ea0e';
}
.ft-wifi-off:before {
  content: '\ea0f';
}
.ft-wind:before {
  content: '\ea10';
}
.ft-x:before {
  content: '\ea11';
}
.ft-x-circle:before {
  content: '\ea12';
}
.ft-x-octagon:before {
  content: '\ea13';
}
.ft-x-square:before {
  content: '\ea14';
}
.ft-youtube:before {
  content: '\ea15';
}
.ft-zap:before {
  content: '\ea16';
}
.ft-zap-off:before {
  content: '\ea17';
}
.ft-zoom-in:before {
  content: '\ea18';
}
.ft-zoom-out:before {
  content: '\ea19';
}
