@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-drop {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 250ms ease-out,
    visibility 250ms ease-out;
}

.dropdown-wrapper:hover .dropdown-drop {
  opacity: 1;
  visibility: visible;
}

.custom-chrome-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-chrome-scrollbar::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

.custom-chrome-scrollbar::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}

.search-hits {
  @apply bg-yellow-200;
}

pre {
  @apply my-4 overflow-x-auto rounded;
}

pre code.torchlight {
  @apply block min-w-max py-4;
}

pre code.torchlight .line {
  @apply px-4;
}

pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
  @apply mr-4;
}

.video-js.vjs-hls-quality-selector {
  @apply block;
}

.video-js.vjs-hls-quality-selector .vjs-menu-item-text {
  @apply text-white;
}

.video-js.vjs-hls-quality-selector
  .vjs-menu-item.vjs-selected
  .vjs-menu-item-text {
  @apply text-primary-600;
}

.video-js.vjs-hls-quality-selector .vjs-menu-title {
  @apply pt-2 text-white;
}

.video-js.vjs-theme-ab .vjs-big-play-button {
  @apply border-none !bg-primary-600 hover:!bg-primary-700;
}

.video-js.vjs-theme-ab .vjs-control-bar {
  @apply bg-black/30 backdrop-blur;
}

.video-js.vjs-theme-ab .vjs-button {
  @apply hover:bg-white/50 hover:text-primary-600;
}

.video-js.vjs-theme-ab .vjs-progress-control .vjs-play-progress {
  @apply bg-primary-600;
}

.video-js.vjs-theme-ab .vjs-progress-control .vjs-slider {
  @apply bg-gray-900;
}

.video-js.vjs-theme-ab .vjs-progress-control .vjs-load-progress div {
  @apply bg-primary-600/30;
}
