@tailwind base;

pre {
  text-wrap: wrap;
}

@tailwind components;
@tailwind utilities;

.dropdown-drop {
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-out, visibility 250ms ease-out;
}

.dropdown-wrapper:hover .dropdown-drop {
  opacity: 1;
  visibility: visible;
}

.custom-chrome-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-chrome-scrollbar::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

.custom-chrome-scrollbar::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}

.search-hits {
  @apply bg-yellow-200;
}
