
html {
  width: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  padding-left: 240px;
  background-color: $gray-100;
  transition: padding-left 400ms cubic-bezier(.785,.135,.15,.86);
  @include media-breakpoint-down(md) {
    padding-left: 0px;
  }
}

.ab-layout {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}