.ab-header {
  // height: 60px;
  padding: 10px 0;
  background-color: $white;
  position: fixed;
  z-index: $zindex-navbar-fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: $box-shadow-sm;

  &__wrapper {
    display: flex;
  }

  &__left {
    min-width: 240px;

    @include media-breakpoint-down(md) {
      min-width: initial;
    }

    &-wrapper {
      display: flex;
      height: 40px;
    }
  }

  &__brand {
    display: block;
    height: 40px;
    padding: 6px 0;
    img {
      height: 28px;
    }
    @include media-breakpoint-down(md) {
      padding: 2px 0;
      img {
        height: 36px;
      }
    }
  }

  &__sidebar-toggle {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: auto;
    margin-right: 0;
    border-radius: 50%;
    transition: 150ms ease-in-out;
    background-color: $gray-100;
    &:hover {
      background-color: $primary;
      color: $white;
    }

    @include media-breakpoint-down(md) {
      margin: auto 0;
      margin-left: 10px;
    }
  }

  &__form-search {
    width: 100%;
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
    @include media-breakpoint-down(md) {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 60px;
      margin: 0;
    }

    &-wrapper {
      display: flex;
      position: relative;
      height: 40px;
    }

    &-input {
      display: block;
      width: 100%;
      height: 40px;
      border: none;
      background-color: $gray-100;
      line-height: 40px;
      transition: all 150ms ease-in-out;

      &:focus {
        background-color: $white;
        box-shadow: $box-shadow-sm;
      }

      @include media-breakpoint-down(md) {
        background-color: $gray-100;
        box-shadow: $box-shadow-sm;
        border-radius: 0;
        &:focus {
          box-shadow: $box-shadow-sm;
        }
      }
    }
    &-toggle {
      position: absolute;
      right: 0;
      height: 30px;
      width: 30px;
      line-height: 30px;
      margin: 5px;
      padding: 0;
      border-radius: 50%;
      border: none;
      background-color: transparent;
      color: $gray-400;
      transition: all 150ms ease-in-out;
      i {
        transform: scale(1.2);
      }
      &:hover {
        color: $primary;
        background-color: $white;
        box-shadow: $shadow-2-top;
      }
    }
  }

  &__right {
    height: 40px;
    &-wrapper {
      display: flex;
    }
    &-actions {
      padding: 5px 0;
      display: flex;
    }
    &-action {
      display: block;
      position: relative;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      background-color: $gray-100;
      border-radius: 50%;
      color: $primary;
      transition: 150ms ease-in-out;

      &:hover {
        background-color: $primary;
        color: $white;
        &.ab-notification-dropdown-toggle {
          .ab-notification-dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &-label {
        display: block;
        position: absolute;
        top: -2px;
        right: -2px;
        height: 16px;
        min-width: 16px;
        font-size: 10px;
        padding: 2px;
        font-weight: $font-weight-bold;
        line-height: 12px;
        background-color: $danger;
        border-radius: 9px;
        color: $white;
        &:empty {
          display: none;
        }
      }

      .ab-notification-dropdown {
        opacity: 0;
        visibility: hidden;
        display: block;
        transition: opacity 250ms ease-out, visibility 250ms ease-out;
        position: absolute;
        width: 300px;
        height: 400px;
        background-color: $white;
        box-shadow: $box-shadow;
        right: -50px;
        margin-top: 20px;
        z-index: 20;
        border-radius: $border-radius-lg;
        color: $text-color;
        text-align: left;
        .caret {
          position: absolute;
          z-index: -1;
          background-color: $primary;
          width: 20px;
          height: 20px;
          right: 53px;
          top: -5px;
          transform: rotate(45deg);
          border-radius: $border-radius;
        }
        &__wrapper {
          position: relative;
          z-index: 1;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          background-color: rgba($gray-100, .4);
          border-radius: $border-radius;
        }
        &__header {
          background-color: $white;
          height: 50px;
          padding: 15px;
          display: flex;

          &-title {
            display: block;
            padding: 0;
            margin: 0;
            line-height: 20px;
            font-size: 16px;
            font-weight: $font-weight-bold;
          }

          .badge {
            display: block;
            height: 20px;
            min-width: 20px;
            padding: 0 3px;
            line-height: 20px;
            font-size: 13px;
            margin-left: auto;
            text-align: center;
            font-weight: $font-weight-bold;
            background-color: $danger;
            &:empty {
              display: none;
            }
          }
        }
      }
    }

    &-avatar {
      position: relative;
      &:hover {
        // background-color: $primary;
        color: $white;
        .ab-profile-dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
      .ab-profile-dropdown {
        opacity: 0;
        visibility: hidden;
        display: block;
        transition: opacity 250ms ease-out, visibility 250ms ease-out;
        position: absolute;
        width: 300px;
        background-color: $white;
        box-shadow: $box-shadow;
        right: 0;
        margin-top: 15px;
        z-index: 20;
        border-radius: $border-radius-lg;
        color: $text-color;
        text-align: left;
        .caret {
          position: absolute;
          z-index: -1;
          background-color: $primary;
          width: 20px;
          height: 20px;
          right: 8px;
          top: -5px;
          transform: rotate(45deg);
          border-radius: $border-radius;
        }
        &__wrapper {
          position: relative;
          z-index: 1;
          display: flex;
          flex-direction: column;
          width: 100%;
          background-color: $white;
          border-radius: $border-radius;
        }
      }
    }

    &-auth-buttons {
      white-space: nowrap;
      height: 36px;
      padding: 2px 0;
      display: flex;
      .btn {
        // background-color: $gray-100;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        padding: 0;
        line-height: 34px;
        height: 36px;
        width: 100px;
        display: block;
      }
    }
  }
}