.new-articles {
  padding: 15px 0;
  .new-articles-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin: 0;
    margin-bottom: 10px;
    line-height: 1;
  }

  .new-articles-card {
    display: block;
    padding: 5px;
    box-shadow: $box-shadow-sm;
    background-color: $white;
    overflow: hidden;
    border-radius: 4px;
    transition: $transition-base;
    text-decoration: none;
    position: relative;
    margin-bottom: 15px;

    .overlay-icon-play {
      opacity: 0;
      transition: $transition-base;
      position: absolute;
      z-index: 5;
      background-color: rgba($dark, 0.2);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      i {
        position: absolute;
        top: 50%;
        font-size: 50px;
        display: block;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        color: $white;
      }
    }

    &:hover {
      box-shadow: $box-shadow;
      .overlay-icon-play {
        opacity: 1;
      }
    }

    

    .new-articles-card-avatar {
      position: absolute;
      z-index: 3;
      display: block;
      width: 40px;
      height: 40px;
      border: 2px solid $white;
      border-radius: 50%;
      right: 10px;
      bottom: 30px;
    }

    .info-category {
      position: absolute;
      top: 10px;
      left: 10px;
      display: inline-block;
      line-height: 18px;
      font-size: 10px;
      background-color: $primary;
      font-weight: $font-weight-bold;
      border-radius: 2px;
      color: $white;
      padding: 0 6px;
      box-shadow: $box-shadow;
      text-transform: uppercase;
    }
    .info-title {
      display: block;
      margin: 0;
      padding: 10px;
      font-size: 14px;
      font-weight: $font-weight-bold;
      color: $dark;
    }
  }
}