.ab-popular-video-lg {
  position: relative;
  &:hover .swiper-nav {
    opacity: 1;
  }
  .swiper-nav {
    opacity: 0;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 100;
    width: 30px;
    height: 30px;
    background-color: $white;
    bottom: 40px;
    color: $dark;
    border-radius: 100%;
    line-height: 30px;
    text-align: center;
    box-shadow: $box-shadow-sm;
    transition: $transition-base;
    outline: none;
    &:hover {
      background-color: $primary;
      color: $white;
    }

    &.swiper-button-prev {
      left: 10px;
    }
    &.swiper-button-next {
      right: 10px;
    }
  }

  .swiper-pagination {
    display: block;
    text-align: center;
    position: relative;
    &-bullet {
      display: inline-block;
      margin: 0 3px;
      width: 10px;
      height: 10px;
      border: 1px solid $gray-400;
      border-radius: 50%;
      cursor: pointer;
      transition: $transition-base;
      &-active {
        background-color: $gray-400;
      }
    }

  }

  .card {
    display: block;
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: hidden;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-block {
    padding: 0;
  }

  .filter {
    background: linear-gradient(90deg, rgba($black, .8) 0%, rgba($dark, .5) 50%, rgba(0,212,255,0) 100%);
    @include media-breakpoint-down(md) {
      background: linear-gradient(90deg, rgba($black, .5) 0%, rgba($black, .5) 50%, rgba($black, .5) 100%);
    }
  }

  .content {
    width: 50%;
    padding: 40px;
    height: 400px;
    display: flex;
    position: relative;

    @include media-breakpoint-down(md) {
      width: 100%;
      text-align: center;
    }

    .vertical-center {
      margin: auto 0;
      width: 100%;
      overflow: hidden;
    }

    .category-info {
      display: inline-block;
      line-height: 22px;
      font-size: 12px;
      background-color: $primary;
      font-weight: $font-weight-bold;
      letter-spacing: 1px;
      border-radius: 22px;
      color: $white;
      padding: 0 8px;
      box-shadow: $box-shadow;
      text-transform: uppercase;
    }

    .title-info {
      font-size: 28px;
      font-weight: $font-weight-bold;
      color: $light;
      text-shadow: 2px 2px 3px rgba($dark, .5);
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .description-info {
      color: $light;
      font-weight: $font-weight-light;
      letter-spacing: 1px;
      text-shadow: 1px 1px 2px rgba($dark, .5);
      margin-bottom: 10px;
    }

    .btn.btn-watch {
      padding-left: 15px;
      padding-right: 15px;
      letter-spacing: 1px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }
}