// card and panel
.card,
.panel {
    box-shadow: $box-shadow-sm;

    &.empty-none:empty {
        display: none;
    }
}

// selec2
.has-invalid {

    .select2-dropdown,
    .select2-selection {
        border-color: $color-red-600 !important;
    }
}

.select2-container {
    z-index: $zindex-dropdown;
    width: 100% !important;
}
